.showDetails {
    display: grid;
    place-items: center;
    max-width: 1200px;
    margin: 0 auto;
    background-color: var(--clr-700);
    border-radius: 10px;
}

.poster {
    width: 100%;
    aspect-ratio: 2/3;
    max-width: 250px;
}

.detailsContainer {
    width: 90%;
    padding-inline: 1rem;
}

/* .buttonBack {
    position: absolute;
    width: 33px;
    height: 33px;
    margin-left: 0.5rem;
    margin-top: 0.5rem;
    padding: 3px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

.buttonBack>img {
    width: 24px;
    height: 24px;
} */


h1 {
    font-size: 2rem;
    margin-block: 1rem;
}

h2 {
    margin-block: 0.5rem;
    font-size: 20px;
    font-weight: 600;
}

ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

li {
    margin-right: 14px;
    margin-bottom: 0.5rem;
}

p {
    margin-bottom: 0.5rem;
}

@media screen and (min-width: 550px) {
    .showDetails {
        grid-template-columns: 50% 50%;
    }

    .poster {
        max-width: 300px;
    }

    ul {
        display: initial;
    }

    li {
        margin-bottom: 10px;
    }
}

@media screen and (min-width: 1024px) {
    .poster {
        max-width: 450px;
    }
}