.buttonContainer {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 2rem;
}

.button {
    width: 5.5rem;
    padding-block: 10px;
    color: var(--clr-100);
    cursor: pointer;
    background-color: var(--clr-700);
    border: none;
    border-radius: 1rem;
    font-size: 1rem;
    font-weight: 700;
}

.currentPage {
    padding-block: 10px;
    font-size: 1rem;
    font-weight: 700;
}