.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 1rem;
    background-color: var(--clr-700);
}

.navbar .logo {
    height: 1.25rem;
}

.navbar .avatar {
    height: 1.5rem;
}

.navbar > ul{
    display: flex;
    gap: 1.5rem;
    padding-block: 1.25rem;
    list-style: none;
}

.navbar img {
    height: 1rem;
}