* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --clr-primary: hsl(0, 97%, 63%);
  --clr-100: hsl(0, 0%, 100%);
  --clr-500: hsl(223, 23%, 46%);
  --clr-700: hsl(223, 36%, 14%);
  --clr-900: hsl(223, 30%, 9%);
  --ff-base: 'Outfit', sans-serif ;
}

#root {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  font-family: var(--ff-base);
  background-color: var(--clr-900);
  color: var(--clr-100);
}

@media screen and (min-width: 1024px) {
  #root {
    flex-direction: row;
  }
}

@font-face {
  font-family: 'Outfit';
  src: url('./assets/fonts/Outfit-VariableFont_wght.ttf');
}

